<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="com.jbkoffline.qa.ExtentReportListener.ExtentReporterNG"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.jbkoffline.qa.testcases.LoginPageTest"/>
      <class name="com.jbkoffline.qa.testcases.HomePageTest"/>
      <class name="com.jbkoffline.qa.testcases.OperatorsPageTest"/>
      <class name="com.jbkoffline.qa.testcases.UsersPageTest"/>
      <class name="com.jbkoffline.qa.testcases.RegisterPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
